* {
  margin: 0;
  padding: 0;
  font-family: "Sora";
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.maz {
  font-family: Carattere;
  font-weight: 350;
  color: #d3cba1;
  font-size: 3.5vw;
}
#main {
  width: 100%;
}
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: #111;
  color: #fff;
}
#loader #topheading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
#topheading h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
}
#loader h1 {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  font-weight: 500;
}
.reveal .parent {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}
.reveal .parent .child {
  display: block;
}
.parent .child span {
  display: inline-block;
}
#green {
  /* display: none; */
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999;
  height: 0vh;
  background-color: #d3cba1;
}
#home {
  width: 100%;
  background-color: #f3f3f3;
}
#home #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  width: 100%;
  height: 100px;
}
#nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  color: #000;
}
#nav a .line {
  position: absolute;
  bottom: 0;
  display: inline-block;
  height: 1px;
  background-color: #000;
}
#line1 {
  left: 0;
  width: 0%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition-delay: 0.1s;
}
#line2 {
  right: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  width: 100%;
}
#nav a:hover #line2 {
  width: 0;
}
#nav a:hover #line1 {
  width: 100%;
}
.row {
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #333;
  padding: 0 7vw;
  line-height: 1.2;
  padding-right: 10vw;
}
.row h1 {
  font-size: 9vw;
  font-weight: 500;
}
.row .text {
  margin-top: 5vw;
}
.row h5 {
  opacity: 0.4;
  font-size: 10px;
  font-weight: 500;
}
.row:nth-child(3) {
  margin-top: 11px;
}
.row svg {
  margin-top: -10px;
  height: 8vw;
  margin: 0 2.5vw;
}
#imagery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10vw;
  width: 100%;
  padding: 5vw 7vw;
}
#imagery #imglef {
  width: 32%;
  height: auto;
}
#imglef h1 {
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 1px;
  color: #333;
}
#imglef h1 span {
  color: #b6ae88;
  font-family: Carattere;
  font-size: 2.2vw;
}
#imgrig {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60%;
  height: 300px;
}
#imgrig .imgcntnr {
  position: absolute;
  width: 26vw;
  height: 32vw;
  border-radius: 1vw;
  filter: grayscale();
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#imgrig .imgcntnr:hover {
  filter: grayscale(0);
}
#imgrig .imgcntnr:nth-child(1) {
  transform: translate(-40%, -8%) rotate(-20deg);
  background-image: url(img/proyecto\ 2.png);
  background-size: cover;
  background-position: center;
}
#imgrig .imgcntnr:nth-child(2) {
  transform: translate(-15%, 0%) rotate(-15deg);
  background-image: url(img/proyecto\ 4.JPG);
  background-size: cover;
  background-position: center;
}
#imgrig .imgcntnr:nth-child(3) {
  transform: translate(20%, 10%) rotate(-5deg);
  background-image: url(img/proyecto1.jpg);
  background-size: cover;
  background-position: center;
}
#work {
  padding-top: 150px;
  width: 100%;
  min-height: 70vh;
  background-color: #eeeeee;
}
#work::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
}
#work .workrow {
  padding: 0 12vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.workrow h1 {
  display: flex;
  align-items: baseline;
  font-size: 6vw;
  font-weight: 600;
}
.workrow h1 .mini {
  font-size: 2vw;
  margin-left: 5vw;
  font-weight: 500;
}
.o-ui-arrow {
  width: 5vw;
}
.o-ui-arrow path {
  stroke: rgba(158, 158, 158);
}
#images {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 3vw;
  position: relative;
  width: 100%;
  padding: 0 5vw;
}
.cnt {
  overflow: hidden;
  border-radius: 50px;
}
.cnt img {
  width: 105%;
}
.cnt1 {
  width: 35%;
  margin-left: 5vw;
}
.cnt2 {
  width: 28%;
  margin-right: 5vw;
}
#cursor {
  position: fixed;
  width: 17vw;
  top: 0;
  left: 0;
  z-index: 999999;
}
#cursor > div {
  opacity: 0;
  position: absolute;
}
#elem {
  width: 100%;
  position: relative;
}
#cursor .crow {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0.7vw;
}
.crow .ccircle {
  width: 2vw;
  height: 2vw;
  border: 2px solid #fff;
  border-radius: 50%;
}
.crow .ccapsule {
  padding: 0.7vw 3vw;
  border-radius: 100px;
  background-color: #fff;
}
#elem img {
  width: 100%;
  opacity: 0;
  animation: an 4s linear infinite;
  position: absolute;
}
#elem img:nth-child(2) {
  animation-delay: 1s;
}
#elem img:nth-child(3) {
  animation-delay: 2s;
}
#elem img:nth-child(4) {
  animation-delay: 3s;
}
#elem img:nth-child(5) {
  animation-delay: 4s;
}
@keyframes an {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
